h1{
    color: red;
}

p{
    color: blue;
    font-size: 16pt;
}

/* seleccionar por id  */
#second-title {
    color: blanchedalmond;
}

/* seleccionar por clase */
p.segundo-texto{
    color: aqua;
}